* {
    background-color: #FFF0D1;
    font-family: monospace, sans-serif;
}

#title {
    font-size: 36px;
    color: #664343;
}

h2 {
    color: #664343;
    font-size: 28px;
}

p, li {
    color: #795757;
    font-size: 14px;
}

a {
    font-size: 20px;
    color: #3B3030;
    font-weight: 200;
}